<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LaboratorioIPC2</title>
    <!-- Enlazar el contenido estático con Flask -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Bienvenido</h1>
    <p>Sistema de esudiantes del laboratorio de IPC2</p>
    <!-- Enlazar al endpoint que renderiza la siguiente página -->
    <a href="{{ url_for('mostrar_estudiantes') }}" class="boton">Ver lista de estudiantes</a>
</body>
</html>